Flask
Flask-Caching
Flask-SQLAlchemy
Flask-WTF

gunicorn
waitress

mysql-connector-python
PyMySQL

numpy
pandas

openpyxl

python-dotenv
python-dateutil
pytz

cryptography

SQLAlchemy

Werkzeug
WTForms
